.hero .header {
  background-image: none;
  background: transparent;
  /* position: absolute; */
}

.hero .header .container {
  max-width: 1519px;
}

.hero_section {
  width: 100%;
  height: 100vh;
  background-image: url("../../Assets/Scene.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* display: flex; */
  /* justify-content: center;
  align-items: flex-start; */
  /* flex-direction: column; */
  /* padding-left: 9vw; */
}

.hero_section h1 {
  font-family: "DM Serif Display", serif;
  font-size: 3.5rem;
  letter-spacing: 3px;
  width: 393px;
  line-height: 1.2;
  color: #ffffff;
}

.hero_section > .hs_content {
  position: absolute;
  left: 10%;
}

.hero_section .gts_btn {
  margin-top: 2rem;
}

.gts_btn {
  width: 180px;
  padding: 0 20px !important;
  height: 48px !important;
  display: flex !important;
  justify-content: space-between !important;
  font-family: "Rubik", sans-serif !important;
  color: #ffffff !important;
  background: #ee4d47 !important;
}

/* need_what_section */

.need_what_section {
  width: 90%;
  margin: 4rem auto;
  text-align: center;
}

.need_what_section h1 {
  font-size: 3.5rem;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 400;
  color: #00379f;
}

.need_what_section p {
  font-size: 1.1rem;
  max-width: 760px;
  font-family: "Rubik", sans-serif !important;
  color: #402b2b;
  font-weight: 300 !important;
  margin: 2rem auto;
  line-height: 1.5;
}

/* home_content_section */

.home_content_section {
  width: 100%;
}

.container_wraper {
  width: 80%;
  margin: 0 auto;
}

.hc_left,
.hc_right {
  width: 100%;
}

.hc_left h2 {
  font-size: 2.2rem;
  font-family: "Rubik", sans-serif !important;
  font-weight: 700;
  letter-spacing: 3px;
  width: 340px;
  margin: 0 auto;
}

.hc_left p {
  font-size: 1.1rem;
  margin-top: 2rem !important;
  width: 340px;
  margin: 0 auto;
}

.hc_right {
  text-align: center;
}

.hc_right img {
  width: 90%;
}

@media screen and (max-width: 991px) {
  .header {
    padding: 0px 8vw;
  }
}

@media screen and (max-width: 900px) {
  .hero_section > div {
    /* margin-top: -100px; */
  }

  /* .hero_section h1 {
    font-size: 2rem;
  } */
}

/* @media screen and (max-width: 500px) {
  .fc_form {
    width: 90%;
    padding: 29px;
  }
} */

@media screen and (max-width: 450px) {
  .hero_section {
    height: 66vh;
  }
  .hero_section h1,
  .need_what_section h1 {
    font-size: 2.5rem;
  }
  .hc_left h2 {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
  }
  .hc_left p {
    width: 100%;
    text-align: left;
  }
  .hero_section h1 {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .hero_section h1,
  .need_what_section h1 {
    font-size: 2rem;
  }
}
