@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&?family=Encode+Sans+Expanded:wght@400;500&?family=DM+Serif+Display&family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

h1,
h2 {
  line-height: 1.4;
}

a {
  color: initial;
  text-decoration: initial;
}

@media screen and (max-width: 1922px) {
  html {
    font-size: 25px;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 16px;
  }
}
