/* header start */

.header {
  width: 100%;
  padding: 0 6rem;
  height: 120px;
  background-image: url("../Assets/header.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header .navbar-brand img {
  /* width: 120px; */
  object-fit: contain;
}

.header .navbar-nav {
  align-items: center;
}

.header .nav-link {
  margin: 0 15px;
  color: #ffffff !important;
  font-family: "Rubik", sans-serif !important;
}

/* header ends */

/* footer start*/

.footer_main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  background-image: url("../Assets/Group\ 36.png");
}

.footer2 {
  margin-top: 5rem;
  width: 90%;
  background-image: url("../Assets/BG\ \(1\).png");
  background-size: cover;
  height: 30vh;
  background-repeat: no-repeat;
}

.footer_content {
  max-width: 2000px;
  width: 100%;
  height: max-content;
  display: flex;
  align-items: flex-end;
  padding-left: 18vw;
  margin-top: 16vh;
  justify-content: flex-start;
}

.fc_line {
  display: flex;
  margin-top: 2rem;
  width: 30%;
  align-items: center;
}

.fc_text {
  /* width: 275px; */
  margin-left: 2rem;
}

.fc_text p {
  font-size: 1.1rem;
  font-family: "Rubik", sans-serif !important;
  color: #ffffff;
  font-weight: 400;
}

.fc_text p strong {
  font-weight: 600;
}

.fc_form {
  width: 450px;
  padding: 50px;
  background-color: #ffffff;
  height: max-content;
  transform: translate(80px, -100px);
  border-radius: 10px;
  box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
}

.input_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input_wrap label {
  color: #402b2b;
  font-size: 0.9rem;
  font-family: "Rubik", sans-serif !important;
}

.input_wrap input {
  border: 1px solid #00379f !important;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Rubik", sans-serif !important;
  outline: none;
  height: 50px;
  padding: 10px;
  color: #402b2b;
  margin-top: 1.2rem;
}

.input_wrap input:focus {
  border: 2px solid #00379f;
  box-shadow: 0px 20px 40px rgba(0, 55, 159, 0.19);
}

.footer_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fb_logo {
  width: 30%;
}

.fb_text {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fb_text span {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Rubik", sans-serif !important;
}

.footer_copyright {
  /* max-width: 1920px; */
  width: 90%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fbc_copyright {
  width: max-content;
  display: flex;
  transform: translateX(260px);
  justify-content: space-between;
  align-items: center;
}

.fbc_copyright span {
  color: 402b2b;
  margin: 0 10px;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Rubik", sans-serif !important;
}

.fbc_icon {
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-140px);
}

.fimg_mob {
  display: none;
}

/* footer end */

@media screen and (max-width: 1074px) {
  .footer_copyright {
    justify-content: space-around;
  }
  .fbc_copyright,
  .fbc_icon {
    transform: none;
    width: max-content;
  }
  .fbc_copyright span,
  .fbc_icon img {
    margin: 0 10px;
  }
}
@media screen and (max-width: 1060px) {
  .fc_form {
    transform: translate(30px, -100px);
  }
}

@media screen and (max-width: 991px) {
  .navbar-light .navbar-toggler {
    border-color: white;
    background-color: white;
  }

  .navbar-light .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }
  .fa-times {
    font-size: 1.2em;
  }
  .header .navbar-nav {
    padding: 2rem 0;
    line-height: 2rem;
    position: absolute;
    z-index: 1;
    background: #80b5e6de;
    width: 100%;
    right: 0;
  }

  /*  */
  .footer_main {
    margin-top: 18rem;
    position: relative;
  }
  .footer_main2 {
    margin-top: 2rem;
  }
  .footer {
    height: max-content;
    background-image: none;
    background: #00379f;
  }
  .footer2 {
    width: 100%;
    background: #0fa194;
  }
  .fimg_mob {
    display: block;
    top: -180px;
    left: 0;
    position: absolute;
    width: 300px;
    object-fit: contain;
  }
  .footer_content {
    margin-top: 20vh;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .fc_text {
    width: 275px;
  }
  .fc_line {
    width: max-content;
  }
  .fc_form {
    transform: none;
    margin-top: 2rem;
  }
  .footer_bottom {
    flex-direction: column;
    align-items: center;
    height: max-content;
    margin: 2rem auto;
  }
  .fb_text {
    margin: 2rem auto;
    width: 298px;
  }
  .fb_logo {
    text-align: center;
    width: max-content;
  }
}

@media screen and (max-width: 500px) {
  .fc_form {
    width: 90%;
    padding: 29px;
  }
}

@media screen and (max-width: 430px) {
  .footer_copyright {
    flex-direction: column;
  }
  .header .navbar-brand img {
    width: 130px;
  }
}

@media screen and (max-width: 350px) {
  .fc_line {
    width: 83%;
    margin: 0 auto;
    justify-content: center;
  }
}
